:root {
    --bg-color: #aeb2bd;

    --color--primary: #28303b;
    --color--secondary: #e2a717;

    --color--light-grey-1: #e6e9f0;
    --color--light-grey-2: #cbced3;

    --color--dark-grey-1: #777;
    --color--dark-grey-2: #456;

    --text-color-dark: #2a2f35;
    --text-color-light: #dee4e9;

    --font-family: 'Schibsted Grotesk', sans-serif;;
}

html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
}