.bookmark {
    position: absolute;
    background-color: var(--color--secondary);

    &--1 {
        width: 1rem;
        height: 2rem;
        left: 2.5rem;
        top: -0.5rem;
        z-index: 10;
    }

    &--2 {
        width: 20vw;
        height: 20vw;
        bottom: -1rem;
        right: -1rem;
        z-index: 10;
        background: linear-gradient(135deg, transparent 0,
                                            transparent 50%,
                                            var(--color--primary) 50%,
                                            var(--color--primary) 100%);
        border-top-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        
        @media only screen and (max-width: $md--medium){
            top: -1rem;
            background: linear-gradient(45deg, transparent 0,
                                                transparent 50%,
                                                var(--color--primary) 50%,
                                                var(--color--primary) 100%);
            border-radius: 0;
            border-top-left-radius: 3rem;
            border-bottom-right-radius: 3rem;
        }

        @media only screen and (max-width: $md--smallest){
            display: none;
        }
    }
}