.experience {
    display: grid;
    grid-template-columns: [time-start] max-content 
                           [time-end timeline-start] 20rem 
                           [timeline-end desc-start] 1fr [desc-end];
    grid-row-gap: 1rem;
    justify-content: start;
    align-items: start;

    &__years {
        grid-column: time-start / time-end;
        background-color: var(--color--primary);
        color: var(--text-color-light);
        font-size: 1.4rem;
        text-align: center;
        justify-self: center;
        min-width: 16rem;

        padding: 1rem 1.2rem;
        border-radius: 5rem;
    }

    &__timeline {
        grid-column: timeline-start / timeline-end;
        justify-self: center;
        
        width: 1px;
        height: calc(100% + 1rem);
        display: flex;
        justify-content: center;
        align-items: start;
        
        background-color: var(--color--dark-grey-1);

        // TODO animate
        & > span {
            display: block;
            width: 1rem;
            height: 1rem;
            border: 2px solid var(--color--dark-grey-1);
            border-radius: 100%;
            aspect-ratio: 1;
            background-color: var(--color--dark-grey-1);
            transition: all .5s;
            margin-top: 1.5rem;

            &:hover {
                scale: 2;
                background-color: var(--color--light-grey-1);
            }
        }
    }

    &__description {
        grid-column: desc-start / desc-end;
        font-size: 1.6rem;

        & > ul > li {
            display: grid;
            grid-template-columns: 1.4rem 1fr;
            list-style: none;

            &::before {
                content: '';
                display: block;
                width: 100%;
                aspect-ratio: 1;
                background-color: var(--color--secondary);
                clip-path: polygon(59% 22%, 81% 50%, 56% 76%, 38% 75%, 63% 49%, 39% 22%);
                background-size: cover;
                grid-column: 1 / 2;
                margin-top: 2px;
            }
        }
    }

    &__company-title {
        font-size: 1.7rem;
        text-decoration: underline;
        margin: 1rem 0;
    }
}