.experience {
    display: grid;
    grid-template-columns: [time-start] max-content 
                           [time-end timeline-start] 20rem 
                           [timeline-end desc-start] 1fr [desc-end];
    grid-row-gap: 1rem;
    justify-content: start;
    align-items: start;

    &__years {
        grid-column: time-start / time-end;
        background-color: var(--color--primary);
        color: var(--text-color-light);
        font-size: 1.4rem;
        text-align: center;
        justify-self: center;
        min-width: 16rem;

        padding: 1rem 1.2rem;
        border-radius: 5rem;
    }

    &__timeline {
        grid-column: timeline-start / timeline-end;
        justify-self: center;
        
        width: 1px;
        height: calc(100% + 1rem);
        display: flex;
        justify-content: center;
        align-items: start;

        position: relative;

        color: var(--color--dark-grey-1);
        background-color: currentColor;

        & > span {
            display: block;
            width: 1.2rem;
            height: 1.2rem;
            border: 2px solid currentColor;
            border-radius: 100%;
            aspect-ratio: 1;
            background-color: currentColor;
            transition: all .5s;
            margin-top: 1.5rem;
            cursor: pointer;

            &:hover,
            &:has(+ .timeline-card:hover) {
                animation: none;
                scale: 1.6;
                background-color: var(--color--light-grey-1);
            }

            &:hover + .timeline-card,
            & + .timeline-card:hover {
                width: fit-content;
                padding: 2rem;
                overflow: visible;
            }
        }

        & > span:not(.visited) {
            animation: pulsate 4s infinite;
        }
    }

    &__description {
        grid-column: desc-start / desc-end;
        font-size: 1.6rem;

        & > ul > li {
            display: grid;
            grid-template-columns: 1.4rem 1fr;
            grid-gap: .4rem;
            list-style: none;

            &:not(:last-child) {
                margin-bottom: .4rem;
            }

            &::before {
                content: '';
                display: block;
                width: 100%;
                aspect-ratio: 1;
                background-color: var(--color--secondary);
                clip-path: polygon(59% 22%, 81% 50%, 56% 76%, 38% 75%, 63% 49%, 39% 22%);
                background-size: cover;
                grid-column: 1 / 2;
                margin-top: 2px;
            }
        }
    }

    &__company-title {
        font-size: 1.7rem;
        text-decoration: underline;
        padding: 0.3rem .5rem;
        width: fit-content;
        position: relative;
        isolation: isolate;
        cursor: default;

        & > a {
            color: currentColor;

            display: flex;
            align-items: center;
            gap: .5rem;
        }

        & > span {
            height: 100%;
            width: .5rem;
            transform: scaleY(0);
            transform-origin: center;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, var(--color--secondary), var(--color--light-grey-1));
            z-index: -1;
            transition: width .2s, 
                        transform .2s .2s;
            border-radius: 1px;
        }

        &:hover > a {
            color: var(--color--primary);

            & > .experience__company-logo {
                opacity: 1;

                transition: opacity .2s .2s;
            }
        }

        &:hover > span {
            width: 100%;
            transform: scaleY(1);
            transition: transform .2s,
                        width .2s .2s;
        }
    }

    &__company-logo {
        width: 1.7rem;
        height: 1.7rem;
        opacity: 0;

        transition: opacity .2s;
    }
}

@keyframes pulsate {
    0% { scale: 1 }
    50% { scale: 1.2; color: var(--color--dark-grey-2); }
    100% { scale: 1; }
}

.timeline-card {
    position: absolute;
    width: 0;
    overflow: hidden;
    height: 20rem;
    left: 2rem;
    padding: 0;

    background-color: var(--color--primary);

    transform-origin: top left;
    transition: all .2s;

    &::before {
        content: '';
        display: block;
        position: absolute;
        
        top: 1.1rem;
        left: -1.9rem;
        width: 2rem;
        height: 2rem;

        background-color: inherit;

        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
}