.info {
    --info-padding: 2rem;

    background-color: var(--color--primary);
    color: var(--text-color-light);
    font-size: 1.4rem;

    position: relative;

    padding: var(--info-padding);
    border-radius: .3rem 0 0 .3rem;

    display: grid;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    align-items: end;
    grid-gap: 5rem;

    &__image {
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
        background-image: url(../assets/img/photo.jpeg);
        background-size: cover;
        box-shadow: 0 .3rem .8rem rgba(#000, .5);
        filter: saturate(1.5);

        @media only screen and (max-width: $md--medium){
            display: none;
        }
    }

    &__section-title {
        grid-column: 1 / -1;
        color: var(--color--secondary);
    }

    &__contacts,
    &__languages {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: .5rem;
    }

    &__value {
        justify-self: end;
    }

    &__title {
        font-weight: 600;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        svg {
            width: 3rem;
            height: 3rem;
            fill: var(--color--secondary);
            transition: scale .2s;
            cursor: pointer;
        }

        svg:hover {
            scale: 1.2;
        }
    }

    &__navigation {
        align-self: stretch;

        & > nav {
            transition: opacity .2s;
            opacity: 0;
            position: sticky;
            padding: 1rem;
            top: 30vh;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &.visible {
                opacity: 1;

                & > * {
                    animation: fadeInLeft .2s forwards;
    
                    &:nth-of-type(1) { animation-delay: 0s;}
                    &:nth-of-type(2) { animation-delay: .2s ;}
                    &:nth-of-type(3) { animation-delay: .4s ;}
                    &:nth-of-type(4) { animation-delay: .6s ;}
                    &:nth-of-type(5) { animation-delay: .8s ;}
                    &:nth-of-type(6) { animation-delay: 1s;}
                }
            }

            &.invisible {
                opacity: 0;

                & > * {
                    animation: fadeOutLeft 4s forwards;
                }
            }

            @media only screen and (max-width: $md--medium){
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
            }
        }
    }

    &__navigation-item {
        transform: translateX(-1000px);
        font-size: 2rem;
        padding: 1rem;
        font-weight: 500;
        border-left: 3px solid var(--color--secondary);
        text-transform: uppercase;
        position: relative;
        isolation: isolate;
        cursor: pointer;

        &::after {
            transition: all .3s;
            z-index: -2;
            content: '';
            height: 100%;
            position: absolute;
            background-color: transparent;
            inset: 0;
            transform: scaleY(0);
        }

        &:hover::after {
            animation: fadeOut 5s forwards;
            transform: scaleY(1);
            background-color: var(--color--secondary);
        }

        @media only screen and (max-width: $md--medium){
            border-left: none;
            border-bottom: 3px solid var(--color--secondary);
        }
    }

    @media only screen and (max-width: $md--medium){
        grid-row: 2 / span 1;
        grid-gap: 2.5rem;
        border-radius: 0 0 .3rem .3rem;
    }
}

@keyframes fadeOut {
    100% {
        background-color: transparent;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOutLeft {
    100% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    0% {
        transform: translateX(0);
        opacity: 1;
    }
}