.info {
    --info-padding: 2rem;

    background-color: var(--color--primary);
    color: var(--text-color-light);
    font-size: 1.4rem;

    position: relative;

    padding: var(--info-padding);
    border-radius: .3rem 0 0 .3rem;

    display: grid;
    grid-template-rows: repeat(3, max-content) 1fr max-content;
    align-items: end;
    grid-gap: 5rem;

    &__image {
        aspect-ratio: 1;
        border-radius: 100%;
        overflow: hidden;
        background-image: url(../assets/img/photo.jpeg);
        background-size: cover;
        box-shadow: 0 .3rem .8rem rgba(#000, .5);
        filter: saturate(1.5);
    }

    &__section-title {
        grid-column: 1 / -1;
        color: var(--color--secondary);
    }

    &__contacts,
    &__languages {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-row-gap: .5rem;
    }

    &__value {
        justify-self: end;
    }

    &__title {
        font-weight: 600;
    }

    &__links {
        display: flex;
        justify-content: center;
        gap: 2rem;
        svg {
            width: 3rem;
            height: 3rem;
            fill: var(--color--secondary);
            transition: scale .2s;
            cursor: pointer;
        }

        svg:hover {
            scale: 1.2;
        }
    }
}