.resume {
    background-color: var(--color--light-grey-1);
    border-radius: 0 .3rem .3rem 0;
    color: var(--text-color-dark);
    padding: 2rem;

    display: grid;
    grid-template-rows: repeat(6, min-content);
    grid-row-gap: 4rem;

    &__section-heading {
        font-size: 1.6rem;
        width: fit-content;
        background-color: var(--color--secondary);
        text-decoration: none;
        padding: 0.4rem 0.8rem;
        transform: translateX(-3rem);
        margin-bottom: 2rem;
        grid-column: 1 / -1;
    }
}